@use 'basic-block.scss';
@use 'builtin-controls.scss';
@use 'media-layout.scss';

video {
  width: 100%;
  height: 100%;
  display: block;

  @include media-layout.media-layout();
  @include builtin-controls.builtin-controls();
}
